<a href="https://colab.research.google.com/github/kanyaweeud/data_viz_2022/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/dataviz_2021_data'

In [ ]:
data_file_path = os.path.join(path,'pm-20-jan-2021.csv') 
data_df = pd.read_csv(data_file_path)

In [ ]:
data_df.head()

In [ ]:
data_df

# **ตรวจสอบค่าใน column**

In [ ]:
set(data_df['province_of_onset'])

In [ ]:
len('สมุุทรสงคราม')

In [ ]:
'สมุุทรสงคราม'[2]

In [ ]:
'สมุุทรสงคราม'[3]

# **ต่อตาราง**

*   ต่อในแนวแกน Y (เพิ่มจำนวนข้อมูล)
*   ต่อในแนวแกน X (เพิ่มรายละเอียดของข้อมูล)

# ต่อแกน Y

In [ ]:
BKK = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร']
BKK.head()

In [ ]:
KKC = data_df[data_df['province_of_onset']=='ขอนแก่น']
KKC.head()

# ต่อตารางให้เป็นข้อมูล 2 จังหวัด

In [ ]:
dataBKKKKC = pd.concat([BKK,KKC])
dataBKKKKC

In [ ]:
dataBKKKKC = pd.concat([BKK,KKC,BKK])

In [ ]:
dataBKKKKC

# ถ้าเอาตารางไม่เหมือนกันมา concat กัน

In [ ]:
BKK2 = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร'][['sex','age','nationality']]
BKK2.head()

In [ ]:
KKC2 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality','sex']]
KKC2.head()

In [ ]:
pd.concat([BKK2,KKC2])

In [ ]:
KKC3 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality','risk']]
KKC3.head()

In [ ]:
pd.concat([BKK2,KKC3])

In [ ]:
KKC4 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality']]
KKC4.head()

In [ ]:
pd.concat([BKK2,KKC4])

# ต่อแกน X

In [ ]:
personal_data = data_df[['No.','sex','age','nationality']]
personal_data.head()

In [ ]:
covid_data = data_df[['No.','announce_date','province_of_isolation','province_of_onset','risk']].sample(frac=1)
covid_data.head()

# เอาตารางสองอันมาต่อกัน

In [ ]:
personalcovid_data = personal_data.merge(covid_data) personalcovid_data.head()

In [ ]:
personalcovid_data = covid_data.merge(personal_data)
personalcovid_data.head()

# **Save Table**

In [ ]:
personalcovid_data.to_csv(os.path.join(path,'my_processed_data.csv') )

In [ ]:
personalcovid_data.to_csv('my_processed_data.csv')

# **Groupby**
https://www.kaggle.com/crawford/python-groupby-tutorial#

In [ ]:
data_df.groupby('nationality').count()

In [ ]:
data_df.groupby('nationality').mean()

In [ ]:
data_df.groupby('nationality')['age'].min()

In [ ]:
data_df.groupby('nationality').min(' ')

# **Create Pandas table**

In [ ]:
import pandas as pd

**Dictionary(row oriented)**

In [ ]:
data_list = [ {'account':'Jones LLC','Jan':150,'Feb':200,'Mar':140},
              {'account':'Alpha Co','Jan':200,'Feb':210,'Mar':215},
              {'account':'Blue Inc','Jan':50,'Feb':90,'Mar':95},         
            ]

In [ ]:
data_list

In [ ]:
df1 = pd.DataFrame(data_list)
df1

**List(row oriented)**

In [ ]:
data = [['Jones LLC',150,200,140],
        ['Alpha Co',200,210,215],
        ['Blue Inc',50,90,95]]
header = ['account','Jan','Feb','Mar']

In [ ]:
df2 = pd.DataFrame.from_records(data,columns=header)
df2

**Dictionary(column oriented)**

In [ ]:
data_dict = { 'account':['Jones LLC','Alpha Co','Blue Inc'],
              'Jan':[150,200,50],
              'Feb':[200,210,90],
              'Mar':[140,215,95]
}

In [ ]:
df3 = pd.DataFrame.from_dict(data_dict)
df3

**List(column oriented)**

In [ ]:
data_item = [['account',['Jones LLC','Alpha Co','Blue Inc']],
             ['Jan',[150,200,50]],
             ['Feb',[200,210,90]],
             ['Mar',[140,215,95]]
            ]

In [ ]:
# pandas version บน colab วันที่ 26Jan22 ยังมี bug 
# df4 = pd.DataFrame.from_items(data_item)
# df4